.main-wrapper-franchise {
  background-color: #050b1b;
  min-height: 100vh;
  width: 100%;
  position: relative;
  .wrapper-centered {
    width: 80%;
    margin: 0 auto;
    .side-opt-wb {
      margin-top: 10vh;
      p {
        color: #1863c5;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  .main-map-wrapper-one {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40%;
  }
  .main-map-wrapper-two {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 40%;
  }
  // color: #fff;
  .m-w-inset {
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    color: #ffffff;
    .my-franchise {
      background-color: #131928;
      width: 100%;
      height: 85vh;
      border-radius: 20px;
      padding: 20px;
      h3 {
        font-size: 18px;
      }
      .booked-franchise-container {
        .head-content {
          background-color: #050b1b;
          width: 100%;
          border-radius: 20px;
          padding: 20px;
          margin-top: 20px;
          .b-f-content-flex {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
            .b-head {
              color: #cacaca;
              font-size: 12px;
            }
          }
        }
        .nex-section {
          width: 100%;
          border-radius: 20px;
          padding: 20px;
          .b-f-content-flex {
            display: flex;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            .b-head {
              width: 130px;
            }
          }
        }
      }
      .bottom-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .download-certificate-button {
          background-color: rgb(24 99 197 / 17%);
          border: 0px;
          color: #fff;
          width: 100%;
          display: flex;
          padding: 0;
          gap: 10px;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #1863c5;
          }
        }
      }
    }

    .no-data-ff {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #1c1f364d;
      border-radius: 15px;
      padding: 20px;
      margin-top: 11vh;
      img {
      }
      h3 {
        font-size: 18px;
        margin-top: 10px;
      }
      button {
        background-color: #726af3;
        margin-top: 20px;
        border-radius: 20px;
        font-weight: 600 !important;
        color: #ffffff;
        border: 0;
      }
    }

    .inset-18 {
      .adver-wrapper {
        background-color: #131928;
        color: #fff;
        width: 60%;
        border-radius: 20px;
        /* color: #000000; */
        padding: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        h2 {
          font-size: 18px;
        }
        p {
          color: #ffffffd4;
        }
      }

      .wrapper-booked-franchise {
        margin-top: 40px;
        .button-filter {
          background-color: #726af31c;
          border: none;
          border-radius: 30px;
          color: #fff;
        }
        .wrapper-franchise-card {
          margin-top: 30px;
          .franchise-card {
            background-color: #0c1423;
            width: 100%;
            border-radius: 20px;
            padding: 20px;
            transition: 0.3s;
            &:hover {
              transform: translate(0px, -5px);
            }
            .franchise-tags {
              display: flex;
              align-items: center;
              gap: 10px;
              flex-wrap: wrap;
              margin-top: 20px;
              .tag-s {
                background-color: rgb(180 180 180 / 38%);
                font-size: 11px;
                font-weight: 500;
                padding: 6px 10px;
                border-radius: 20px;
              }
              .tag-sub {
                background-color: #27ae60;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }

  .m-w-inset-book {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;

    .wrap-set-form {
      background-color: #0d1221;
      width: 100%;
      border-radius: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      padding-top: 30px;
      .instructions-booking {
        width: 100%;
        background-color: #050b1b;
        padding: 20px;
        border-radius: 20px;
        color: #fff;
        ul {
          margin-top: 10px;
          li {
            font-size: 14px;
            color: #cdcdcd;
          }
        }
      }
      .stroller {
        height: 70vh;
        overflow: scroll;
        padding-right: 10px;
        &::-webkit-scrollbar {
          width: 6px;
          height: 0px;
        }
      }
    }
  }

  .wrapper-tabs {
    width: 70%;
    margin: 0 auto;
    margin-top: 10vh;
  }
}
.bookings-form {
  .ant-form-item
    .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    )::before {
    display: none;
  }

  .ant-form-item .ant-form-item-label {
    padding-bottom: 2px !important;
    font-weight: 600;

    label {
      color: #999 !important;
    }
  }

  .anticon svg {
    display: inline-block;
    color: aliceblue;
  }

  .end-navigator {
    color: #727272;
    width: auto;

    span {
      color: #000;
      font-weight: 600;

      &:hover {
        color: #2a56b8;
      }
    }
  }

  .styled-input {
    width: 100%;
    height: 45px;
    background-color: #131928;
    border: 1px solid transparent;
    color: #fff;

    &::placeholder {
      color: #444451 !important;
    }
  }

  .selector-c {
    width: 100%;
    background-color: #131928 !important;
    border: 1px solid transparent !important;
    color: #fff;
    border-radius: 5px;

    .ant-select-dropdown {
      background-color: #131928 !important;
    }

    .ant-select-item-option-content {
      color: #cbcbcb !important;
    }

    .ant-select-item-option-active {
      background-color: #050b1b !important;
    }

    .ant-select-item-option-selected {
      background-color: #050b1b !important;
    }
  }

  .ant-select-selector {
    width: 100%;
    height: 45px;
    background-color: #131928 !important;
    border: 1px solid transparent !important;
    color: #fff !important;

    &::placeholder {
    }

    .ant-select-selection-placeholder {
      color: #444451 !important;
    }

    .ant-select-selection-item {
      color: #fff !important;
    }
  }

  .selected-f-city {
    background-color: #131928;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    width: 99%;
    margin-bottom: 20px;
    .hover-change {
      color: #2a56b8;
      font-weight: 500;
    }
    .flex-scf {
      display: flex;
    }
    .label-d {
      width: 200px;
    }
  }
}

.packages-modal {
  .packages-wrapper {
    margin-top: 5vh;
    max-height: 70vh;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 6px;
      height: 0px;
    }
    .selected-package-card {
      border: 2px solid #7a7a7a !important;
    }
    .package-card {
      background-color: #1b202e;
      padding: 20px;
      border-radius: 20px;
      color: #fff;
      border: 2px solid #e67d2200;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        border: 2px solid #e67e22 !important;
      }
      .pcF {
        display: flex;
        p {
          min-width: 268px;
          color: #dfdfdf;
        }
      }
    }
  }

  .ant-modal-content {
    background-color: #0d1221;
  }
  .ant-modal-title {
    background-color: #0d1221;
    color: #fff;
  }

  .ant-form-item
    .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    )::before {
    display: none;
  }

  .ant-form-item .ant-form-item-label {
    padding-bottom: 2px !important;
    font-weight: 600;

    label {
      color: #999 !important;
    }
  }

  .anticon svg {
    display: inline-block;
    color: aliceblue;
  }

  .end-navigator {
    color: #727272;
    width: auto;

    span {
      color: #000;
      font-weight: 600;

      &:hover {
        color: #2a56b8;
      }
    }
  }
}

.details-tabs {
  .ant-tabs-tab-btn {
    outline: none;
    transition: all 0.3s;
    color: #bebebe;
  }
  .ant-tabs-nav::before {
    border: none !important;
  }
}

.inner-content-tabs {
  width: 90%;
  margin: 0 auto;
}

.filters-wrapper {
  padding: 20px;
  .btns-filters{
    button {
      padding: 0px 15px;
      border-radius: 20px;
      font-size: 14px;
    }
  }
  
}

.main-filters-drawer {
  .ant-drawer-content {
    background-color: #050b1b;
  }

  .ant-drawer-title {
    color: #fff;
  }

  .ant-drawer-body {
    color: #fff;
  }

  .ant-drawer-close {
    filter: invert(1) brightness(5);
  }
}

.ant-select-dropdown {
  background-color: #131928 !important;
  color: #fff;
  .ant-select-item-option-content {
    color: #fff;
  }
  .ant-select-item-option-active {
    background-color: #050b1b !important;
  }
}
.ant-select-selector {
  width: 100%;
  height: 45px;
  background-color: #131928 !important;
  border: 1px solid transparent !important;
  color: #fff !important;
 
  &::placeholder {
  }

  .ant-select-selection-placeholder {
    color: #6f6f6f !important;
  }

  .ant-select-selection-item {
    color: #fff !important;
  }
}
.selector-c {
  width: 100%;
  background-color: #131928 !important;
  border: 1px solid transparent !important;
  color: #fff;
  border-radius: 5px;

  .ant-select-dropdown {
    background-color: #131928 !important;
  }

  .ant-select-arrow {
    color: #fff !important;
  }

  .ant-select-item-option-content {
    color: #cbcbcb !important;
  }

  .ant-select-item-option-active {
    background-color: #050b1b !important;
  }

  .ant-select-item-option-selected {
    background-color: #050b1b !important;
  }
}
.styled-input {
  width: 100%;
  height: 45px;
  background-color: #131928;
  border: 1px solid transparent;
  color: #fff;

  &::placeholder {
    color: #444451 !important;
  }
}